body {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 10px;
}

.masthead {
	line-height: 219px;
	height: 219px;
  margin-bottom: 10px;
}

@media (min-width: 990px) {
	.masthead {
		background-image:url("../img/fotocollage.png");
	  background-repeat:no-repeat;
	  background-position: right;
	}
}

@media (max-width: 989px) {
	.masthead img.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.masthead img.logo {
	vertical-align: middle;
	height: 150px;
}

aside > ul#page-nav {
	margin-top: 20px;
	color: #1396C3;
	list-style: none;
	padding-left: 0;
}

aside > ul#page-nav > li > a {
	color: #1396C3;
}

aside > ul#page-nav > li > a:hover {
	color: #fa4c06;
	text-decoration: none;
}

h2,h3 {
	color: #1396C3;
}
	
.anchor {
	/*height: 80px;*/
}

.navbar {
	/*
	margin-bottom: 0;
	padding: 30px 15px;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	*/
}

/*
.navbar img {
	height: 50px;
	padding: 0;	
}


.cbp-af-header-shrink {
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 0.9;
}
*/

.endoImage {
	margin-bottom: 10px;
}

.align-left {
	float: left;
	margin-right: 20px;
}

.align-right {
	float: right;
	margin-left: 20px;
}

#voorna2 img, #voorna img {
	width: 350px;
}

#medewerkers img {
	width: 350px;
}

#bancontact {
	height: 20px;
	float: left;
	margin-right: 10px;
}

#praktijk img {
	width: 90%;
	max-width: 350px;
}

h3#contact {
	margin-top: 0;
}

.orange {
	color: #fa4c06;
}

a {
	color: #fa4c06;

}

a:active {
	outline: 0;
}

a:hover {
	color: #fa4c06;
	text-decoration: underline;
}

::selection { 
	background: #fa4c06;
}

footer {
	background-color: #eef8f8;
	/*color: #ddd;*/
	padding: 20px;
	text-align: center;
	font-size: 1.1em;
}